<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informação Sobre o evento</title>
    <link rel="stylesheet" href="style/header.css">
    <link rel="stylesheet" href="style/informacao_evento.css">
    <link rel="stylesheet" href="style/footer.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=map_search" />
    <link rel="shortcut icon" href="img/icone-logo.png" type="image/x-icon">
</head>

<body>
    <section class="barra-lateral-header">
        <nav>
            <div class="fechar-logo">
                <a href="../index.html"><img src="img/logo.png" alt="Logo Site"></a>
                <button class="fechar-menu"><i class="bi bi-x"></i></button>
            </div>
            <ul>
                <li> <a href="../index.html"><i class="bi bi-house-fill"></i> Início</a></li>
                <li> <a href="eventos.html"><i class="bi bi-calendar-event-fill"></i> Eventos</a></li>
                <li> <a href="mapa.html"><i class="bi bi-map-fill"></i> Mapa</a></li>
                <li> <a href="favoritos_eventos.html"><i class="bi bi-heart-fill"></i> Favoritos</a></li>
            </ul>
            <div class="botoes_cadastro">
                <a href="login.html" id="entrar">Entrar</a>
                <a href="cadastro.html" id="cadastrar">Cadastre-se</a>
                <a href="perfil.html" id="meu-perfil" style="display: none;">Meu perfil</a>
            </div>
        </nav>
    </section>

    <header>
        <nav>
            <div class="menu-logo">
                <button class="hamburguer"><i class="bi bi-list"></i></button>
                <a href="../index.html"><img src="img/logo.png" alt="Logo Site"></a>
            </div>
            <ul>
                <li><a href="../index.html">Início</a></li>
                <li><a href="eventos.html">Eventos</a></li>
                <li><a href="mapa.html">Mapa</a></li>
                <li><a href="favoritos_eventos.html">Favoritos</a></li>
            </ul>
            <div class="botoes_cadastro">
                <a href="login.html" id="entrar">Entrar</a>
                <a href="cadastro.html" id="cadastrar">Cadastre-se</a>
                <a href="perfil.html" id="meu-perfil" style="display: none;">Meu perfil</a>
            </div>
        </nav>
    </header>
    <main>
        <section class="carrosel" id="carroselEvento">
            <div class="bloco_informacoes">
                <h1 id="info-nome">Carregando...</h1>
                <p id="info-descricao">Carregando...</p>
                <div class="icons-info">
                    <p><i class="bi bi-calendar-event-fill"></i><span id="info-data">--</span></p>
                    <p><i class="bi bi-clock-fill"></i><span id="info-horario">--</span></p>
                    <p><img src="img/icone-logo.png" alt=""><span id="info-local">--</span></p>
                </div>
            </div>
        </section>
        <button class="btn-preferencia"><i class="bi bi-ticket-fill" style="height: 14px;"></i> Ingressos</button>
        <section class="informacoes_eventos">

            <section id="sobre_evento" class="caixas">
                <div class="info_sobre_evento">
                    <div class="titulo_icon">
                        <i class="bi-info-circle-fill"></i>
                        <h1>Sobre o evento</h1>
                    </div>
                    <p id="info-sobre">Carregando...</p>
                </div>
                <button class="ler-mais">Ler mais</button>
                <div id="extras">
                    <div class="linha">
                        <div class="info_extras">
                            <div class="titulo_icon">
                                <i class="bi bi-star-fill"></i>
                                <h2>Destaques do Evento</h2>
                            </div>
                            <p id="info-destaque">--</p>
                        </div>
                        <div class="info_extras">
                            <div class="titulo_icon">
                                <i class="bi bi-star-fill"></i>
                                <h2>Capacidade</h2>
                            </div>
                            <p id="info-capacidade">--</p>
                        </div>
                    </div>
                    <div class="linha">
                        <div class="info_extras">
                            <div class="titulo_icon">
                                <i class="bi bi-star-fill"></i>
                                <h2>Abertura dos Portões</h2>
                            </div>
                            <p id="info-hora-inicio">--</p>
                        </div>
                        <div class="info_extras">
                            <div class="titulo_icon">
                                <i class="bi bi-star-fill"></i>
                                <h2>Classificação Etária</h2>
                            </div>
                            <p id="info-classificacao">--</p>
                        </div>
                    </div>
                </div>
            </section>
            <section id="ingressos" class="caixas">
                <div class="titulo-fechar">
                    <button class="fechar-menu"><i class="bi bi-x"></i></button>
                    <h1>Ingressos a partir de: <br><span id="info-preco-min" style="color: #2678BF;">--</span></h1>
                </div>
                <div class="info-precos-ingressos" id="lista-ingressos">
                    
                </div>
                <div class="btns-ingressos">
                    <button class="btn-comprar" id="btn-favorito"><i class="bi-suit-heart-fill"></i> Salvar</button>
                    <a href="#" id="info-link-compra" class="btn-comprar" target="_blank"><i class="bi bi-cart-fill"></i> Comprar
                        Ingresso</a>
                    <button class="btn-comprar">Visitado</button>
                </div>
                <div class="local">
                    <h2 id="info-local-nome">--</h2>
                    <p id="info-local-endereco">--</p>
                </div>
                <div class="abrir-mapa">
                    <span class="material-symbols-outlined">map_search</span>
                    <a href="mapa.html">Visualizar Mapa</a>
                </div>
            </section>
            <section id="atracoes" class="caixas">
                <div class="titulo_icon">
                    <i class="bi bi-star-fill"></i>
                    <h1>Principais Atrações</h1>
                </div>
                <div class="caixas-artistas" id="lista-artistas">
                </div>
            </section>
            <section class="caixas" id="recomendados">
                <h1>Eventos Similares</h1>
                <div id="lista-similares">
                    
                </div>
            </section>
        </section>
    </main>
    <footer>
        <div class="coluna-footer">
            <div class="coluna-explora">
                <h1>Explora+</h1>
                <p>Descubra os melhores eventos da sua cidade
                    e planeje viagens inesquecíveis.</p>
            </div>
        </div>
        <div class="coluna-footer">
            <h1>Redes Sociais</h1>
            <div class="links-redes">
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href="mailto:exploramais.eventos@gmail.com"><i class="bi bi-envelope-fill"></i></a>
            </div>
        </div>
    </footer>
    <script src="../javascript/menu.js"></script>
    <script src="../javascript/informacao-evento.js"></script>
    <script src="../javascript/acessibilidade.js"></script>
    <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
</body>

</html>